In [1]:
import pandas as pd  # importación de pandas 
import numpy as np  # importacion de numpy 

pd.set_option('display.max_columns', None)  # mostrar todas las columnas del df 
pd.set_option('display.max_rows', None)   # mostrar todas las filas del df

import warnings  # importacion de bloqueo de errores
warnings.filterwarnings('ignore')

import pylab as plt    # visualización
import seaborn as sns    # visualización

%matplotlib inline

In [11]:
zv = pd.read_csv(r'C:\Users\pablo\8.0 Proyecto final\limpieza\zonasverdes\tabla_zonasverdes_csv.csv', encoding='latin-1')

In [12]:
zv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 619 entries, 0 to 618
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_zonaverde     619 non-null    int64
 1   nombre_zv        619 non-null    object
 2   barrio           619 non-null    object
 3   id_barrio        619 non-null    int64
 4   distrito         619 non-null    object
 5   id_distrito      619 non-null    int64
 6   Superficie (m2)  619 non-null    object
 7   Superficie (ha)  619 non-null    object
dtypes: int64(3), object(5)
memory usage: 38.8+ KB

In [4]:
zv.rename(columns = { 'Nº Distrito':'id_distrito','BARRIO':'barrio',
                      'DISTRITO':'distrito', 'PARQUES Y ZONAS VERDES DE DISTRITO CON MAYOR SUPERFICIE':'nombre_zv'}, inplace = True)

In [5]:
zv.shape

(619, 6)

In [8]:
zv.head()

,id_distrito,distrito,barrio,nombre_zv,Superficie (m2),Superficie (ha)
0,1,CENTRO,PALACIO,PARQUE DE ATENAS,"46.569,03","4,66"
1,1,CENTRO,CORTES,Pº PRADO I,"35.327,59","3,53"
2,1,CENTRO,PALACIO,PARQUE DE LA CORNISA,"22.633,04","2,26"
3,1,CENTRO,EMBAJADORES,PARQUE CASINO DE LA REINA,"19.858,92","1,99"
4,1,CENTRO,JUSTICIA,Pº DE RECOLETOS I,"19.440,71","1,94"

In [6]:
zv.barrio.unique()

array(['PALACIO', 'CORTES', 'EMBAJADORES', 'JUSTICIA', 'LEGAZPI',
       'ACACIAS', 'DELICIAS', 'ATOCHA', 'IMPERIAL', 'ESTRELLA', 'ADELFAS',
       'LOS JERONIMOS', 'PACIFICO', 'GUINDALERA', 'FUENTE DEL BERRO',
       'CASTELLANA', 'RECOLETOS', 'EL VISO', 'CIUDAD JARDIN', 'CASTILLA',
       'PROSPERIDAD', 'NUEVA ESPAÑA', 'HISPANOAMERICA', 'VALDEACEDERAS',
       'ALMENARA', 'CUATRO CAMINOS', 'CASTILLEJOS', 'ALMAGRO',
       'RIOS ROSAS', 'VALLEHERMOSO', 'TRAFALGAR', 'ARAPILES',
       'GAZTAMBIDE', 'EL GOLOSO', 'LA PAZ', 'VALVERDE', 'EL PILAR',
       'MIRASIERRA', 'PEÑA GRANDE', 'EL PARDO', 'ARAVACA',
       'CASA DE CAMPO', 'CIUDAD UNIVERSITARIA', 'VALDEZARZA',
       'VALDEMARIN', 'ARGUELLES', 'EL PLANTIO', 'LOS CARMENES',
       'LAS AGUILAS', 'CUATRO VIENTOS', 'ALUCHE', 'CAMPAMENTO', 'LUCERO',
       'PUERTA DEL ANGEL', 'ABRANTES', 'SAN ISIDRO', 'BUENAVISTA',
       'PUERTA BONITA', 'VISTA ALEGRE', 'COMILLAS', 'OPAÑEL',
       'PRADOLONGO', 'ORCASITAS', 'ZOFIO', 'ORCASUR', 'MOSCARDO',
       'SAN FERMIN', 'ALMENDRALES', 'ENTREVIAS', 'PALOMERAS SURESTE',
       'NUMANCIA', 'PORTAZGO', 'PALOMERAS BAJAS', 'SAN DIEGO', 'PAVONES',
       'FONTARRON', 'MARROQUINA', 'HORCAJO', 'VINATEROS', 'MEDIA LEGUA',
       'VENTAS', 'COSTILLARES', 'CONCEPCION', 'PUEBLO NUEVO',
       'SAN JUAN BAUTISTA', 'COLINA', 'ATALAYA', 'SAN PASCUAL', 'PIOVERA',
       'VALDEFUENTES', 'PINAR DEL REY', 'APOSTOL SANTIAGO', 'CANILLAS',
       'PALOMAS', 'VILLAVERDE ALTO C.H.', 'SAN CRISTOBAL', 'BUTARQUE',
       'LOS ROSALES', 'LOS ANGELES', 'CASCO H.VALLECAS',
       'ENSANCHE DE VALLECAS', 'SANTA EUGENIA', 'CASCO H.VICALVARO',
       'VALDEBERNARDO', 'EL CAÑAVERAL', 'VALDERRIVAS', 'HELLIN', 'REJAS',
       'EL SALVADOR', 'ROSAS', 'ARCOS', 'SIMANCAS', 'AMPOSTA',
       'CANILLEJAS', 'ALAMEDA DE OSUNA', 'TIMON', 'CORRALEJOS'],
      dtype=object)

In [7]:
len(id_barrio)

NameError: name 'id_barrio' is not defined

In [ ]:
zv['id_barrio']= id_barrio

### ORDENAR POR

In [ ]:
zv.sort_values('id_distrito',inplace = True)

In [ ]:
zv.head()

### REINDEXAMOS

In [ ]:
zv.reset_index(drop=True, inplace=True)

In [ ]:
zv.head()

### NUEVO ID_MERCADO

In [ ]:
id_zonaverde = []

for i in zv.index:
    id_zonaverde.append(i)

print(id_zonaverde)

In [ ]:
zv['id_zonaverde']=id_zonaverde

In [ ]:
new_cols = [ 'id_zonaverde','nombre_zv', 'barrio', 'id_barrio', 'distrito', 'id_distrito',
       'Superficie (m2)', 'Superficie (ha)']

In [ ]:
zv = zv[new_cols]
zv

In [ ]:
zv.head(25)

### EXPORTAR A CSV

In [ ]:
zv.to_csv('tabla_zonasverdes_csv.csv', encoding='utf-8',index = False)