In [1]:
import pandas as pd  # importación de pandas 
import numpy as np  # importacion de numpy 

pd.set_option('display.max_columns', None)  # mostrar todas las columnas del df 
pd.set_option('display.max_rows', None)   # mostrar todas las filas del df

import warnings  # importacion de bloqueo de errores
warnings.filterwarnings('ignore')

import pylab as plt    # visualización
import seaborn as sns    # visualización

%matplotlib inline

### ABRIR CSV LIMPIOS

In [2]:
mercados = pd.read_csv(r'C:\Users\pablo\8.0 Proyecto final\csv_limpios\01_tabla_mercados_csv.csv',encoding='latin1')

In [3]:
educacion = pd.read_csv(r'C:\Users\pablo\8.0 Proyecto final\csv_limpios\02_tabla_educacion2_csv.csv',encoding='latin1')

In [4]:
salud = pd.read_csv(r'C:\Users\pablo\8.0 Proyecto final\csv_limpios\03_tabla_centrosalud_csv.csv',encoding='latin1')

In [5]:
metro = pd.read_csv(r'C:\Users\pablo\8.0 Proyecto final\csv_limpios\04_tabla_metromiercoles_csv.csv',encoding='latin1')

In [6]:
zonasverdes = pd.read_csv(r'C:\Users\pablo\8.0 Proyecto final\csv_limpios\05_tabla_zonasverdes_csv.csv',encoding='latin1')

In [7]:
hoteles = pd.read_csv(r'C:\Users\pablo\8.0 Proyecto final\csv_limpios\06_tabla_hosteleria_csv.csv',encoding='latin1')

In [8]:
seguridad = pd.read_csv(r'C:\Users\pablo\8.0 Proyecto final\csv_limpios\07_tabla_comisarias_csv.csv',encoding='latin1')

In [9]:
cementerios = pd.read_csv(r'C:\Users\pablo\8.0 Proyecto final\csv_limpios\08_tabla_cementerio_csv.csv',encoding='latin1')

In [10]:
restauracion = pd.read_csv(r'C:\Users\pablo\8.0 Proyecto final\csv_limpios\09_tabla_restauracion_csv.csv',encoding='latin1')

In [11]:
comercios = pd.read_csv(r'C:\Users\pablo\8.0 Proyecto final\csv_limpios\10_tabla_comercio_csv.csv',encoding='latin1')

In [12]:
matrizbarrios = pd.read_csv(r'C:\Users\pablo\8.0 Proyecto final\csv_limpios\11_tabla_barrios_csv.csv',encoding='latin1')

In [13]:
inmobiliario = pd.read_csv(r'C:\Users\pablo\8.0 Proyecto final\csv_limpios\12_tabla_inmobiliario_csv.csv',encoding='latin1')

In [14]:
inmo_retiro = pd.read_csv(r'C:\Users\pablo\8.0 Proyecto final\csv_limpios\13_tabla_inmoretiro_csv.csv',encoding='latin1')

In [15]:
teatros = pd.read_csv(r'C:\Users\pablo\8.0 Proyecto final\csv_limpios\14_tabla_teatros_csv.csv',encoding='latin1')

In [16]:
cines = pd.read_csv(r'C:\Users\pablo\8.0 Proyecto final\csv_limpios\15_tabla_cines_csv.csv',encoding='latin1')

In [17]:
auditorios = pd.read_csv(r'C:\Users\pablo\8.0 Proyecto final\csv_limpios\16_tabla_auditorios_csv.csv',encoding='latin1')

In [18]:
ocio = pd.read_csv(r'C:\Users\pablo\8.0 Proyecto final\csv_limpios\17_tabla_ocio_csv.csv',encoding='latin1')

In [19]:
limites = pd.read_csv(r'C:\Users\pablo\8.0 Proyecto final\csv_limpios\18_tabla_limites_csv.csv',encoding='latin1')

In [20]:
metro.head(11)

,id_estacion,nombre_estacion,barrio,id_barrio,distrito,id_distrito,orden_paradas,trafico,longitud,latitud
0,0,Opera,PALACIO,11,CENTRO,1,14,14.850.637,40.418,-3.709
1,1,Chueca,JUSTICIA,14,CENTRO,1,18,3.039.046,40.422,-3.697
2,2,Callao,SOL,16,CENTRO,1,5,15.303.823,40.420,-3.705
3,3,Sol,SOL,16,CENTRO,1,15,49.567.085,40.416,-3.700
4,4,Bilbao,JUSTICIA,14,CENTRO,1,12,8.467.553,40.429,-3.702
5,5,Noviciado,UNIVERSIDAD,15,CENTRO,1,16,3.478.374,40.424,-3.707
6,6,Tirso de Molina,EMBAJADORES,12,CENTRO,1,16,5.317.945,40.412,-3.700
7,7,Banco de EspaÃÂ±a,CORTES,13,CENTRO,1,11,3.745.138,40.491,-3.690
8,8,Embajadores,EMBAJADORES,12,CENTRO,1,8,8.490.055,40.404,-3.702
9,9,Tribunal,JUSTICIA,14,CENTRO,1,13,13.521.895,40.426,-3.700
10,10,Santo Domingo,UNIVERSIDAD,15,CENTRO,1,15,1.957.718,40.412,-3.707

### INSTALAR ALCHECMY

In [44]:
%pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in c:\users\pablo\anaconda3\lib\site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\pablo\anaconda3\lib\site-packages (from SQLAlchemy) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [45]:
%pip install pymysql

Requirement already satisfied: pymysql in c:\users\pablo\anaconda3\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [46]:
from sqlalchemy import create_engine

In [47]:
str_conn='mysql+pymysql://root:aaaa@localhost:3306'

cursor=create_engine(str_conn)

### DAR NOMBRE AL DATASET

cursor.execute('drop database if exists MADRID;')

cursor.execute('create database MADRID;')

###  IMPORTANTE REFERENCIAR LA CONEXION A LA BASE DATOS QUE VAMOS A MODIFICAR(MADRID)

In [48]:
str_conn='mysql+pymysql://root:aaaa@localhost:3306/MADRID'  #<<< IMPORTANTE 3306/VIDEOCLUB

cursor=create_engine(str_conn)

In [49]:
mercados.to_sql(name='mercados', con=cursor, if_exists='replace', index=False)

45

In [50]:
educacion.to_sql(name='centros_edu', con=cursor, if_exists='replace', index=False)

5132

In [51]:
salud.to_sql(name='centros_salud', con=cursor, if_exists='replace', index=False)

270

In [52]:
metro.to_sql(name='estaciones_metro', con=cursor, if_exists='replace', index=False)

193

In [53]:
zonasverdes.to_sql(name='zonas_verdes', con=cursor, if_exists='replace', index=False)

619

In [54]:
hoteles.to_sql(name='alojamientos', con=cursor, if_exists='replace', index=False)

950

In [55]:
seguridad.to_sql(name='comisarias', con=cursor, if_exists='replace', index=False)

19

In [56]:
cementerios.to_sql(name='cementerios', con=cursor, if_exists='replace', index=False)

25

In [57]:
restauracion.to_sql(name='restauracion', con=cursor, if_exists='replace', index=False)

17783

In [58]:
comercios.to_sql(name='comercio', con=cursor, if_exists='replace', index=False)

39881

In [59]:
matrizbarrios.to_sql(name='barrios_madrid', con=cursor, if_exists='replace', index=False)

131

In [60]:
inmobiliario.to_sql(name='mercado_inmobiliario', con=cursor, if_exists='replace', index=False)

14092

In [61]:
inmo_retiro.to_sql(name='mercado_inmobiliario_retiro', con=cursor, if_exists='replace', index=False)

401

In [62]:
teatros.to_sql(name='teatros', con=cursor, if_exists='replace', index=False)

96

In [63]:
cines.to_sql(name='cines', con=cursor, if_exists='replace', index=False)

30

In [64]:
auditorios.to_sql(name='salas_conciertos', con=cursor, if_exists='replace', index=False)

88

In [65]:
ocio.to_sql(name='ocio', con=cursor, if_exists='replace', index=False)

214

In [43]:
limites.to_sql(name='limites', con=cursor, if_exists='replace', index=False)

131